a{
  display: block;
  text-decoration: none ;
  color: black;
}
/*infoエリアをはじめは非表示*/
#info{
	display: none;
}

#info2{
	display: none;
}

/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 600px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

.hokkaido{
  height: 130px;
  width: 170px;
  border-radius: 3px;
  background: #7f7fff;
}

.hokkaido:hover{
  height: 130px;
  width: 170px;
  border-radius: 3px;
  opacity: 0.7;
}

.aomori{
  height: 65px;
  width: 145px;
  border-radius: 3px;
  background: #7f7fff;
  margin-top: 5px;
}

.aomori:hover{
  height: 65px;
  width: 145px;
  border-radius: 3px;
  opacity: 0.7;
}

