body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin-bottom: 0.8rem;
}

.menu a {
  display: block;
  padding: 0.8rem;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #0056b3;
}

.btn-group, .pagination, form, h2 {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.btn.disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.sea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.textb{
  width: 600px;
  height: 200px;
}

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: #343a40;
  color: #fff;
}