a{
  display: inline-block;
  text-decoration: none ;
  color: black;
}

.container{
  text-align: center;
}
/*infoエリアをはじめは非表示*/
#info{
	display: none;
}

#info2{
	display: none;
}

#info3{
	display: none;
}

#info4{
	display: none;
}

#info5{
	display: none;
}

#info6{
	display: none;
}

#info7{
	display: none;
}

#info8{
	display: none;
}

#info9{
	display: none;
}

#info10{
	display: none;
}

#info11{
	display: none;
}

#info12{
	display: none;
}

#info13{
	display: none;
}

#info14{
	display: none;
}

#info15{
	display: none;
}

#info16{
	display: none;
}

#info17{
	display: none;
}

#info18{
	display: none;
}

#info19{
	display: none;
}

#info20{
	display: none;
}

/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 600px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

/* ここから各都道府県別 */
.hokkaido{
  height: 100px;
  width: 140px;
  border-radius: 3px;
  background: #7b68ee;
}

.hokkaido:hover{
  height: 100px;
  width: 140px;
  border-radius: 3px;
  opacity: 0.7;
}

.aomori{
  height: 40px;
  width: 120px;
  border-radius: 3px;
  background: #6495ed;
  margin-top: 3px;
  position: relative;
  top: 102px;
  right: 144px;
}

.aomori:hover{
  height: 40px;
  width: 120px;
  border-radius: 3px;
  opacity: 0.7;
}

.akita{
  height: 40px;
  width: 59px;
  border-radius: 3px;
  background: #6495ed;
  margin-top: 3px;
  position: relative;
  top: 144px;
  right: 268px;
}

.akita:hover{
  height: 40px;
  width: 59px;
  border-radius: 3px;
  opacity: 0.7;
}

.iwate{
  height: 40px;
  width: 59px;
  border-radius: 3px;
  background: #6495ed;
  margin-top: 3px;
  position: relative;
  top: 144px;
  right: 270px;
}

.iwate:hover{
  height: 40px;
  width: 59px;
  border-radius: 3px;
  opacity: 0.7;
}

.yamagata{
  height: 40px;
  width: 59px;
  border-radius: 3px;
  background: #6495ed;
  margin-top: 3px;
  position: relative;
  top: 186px;
  right: 394px;
}

.yamagata:hover{
  height: 40px;
  width: 59px;
  border-radius: 3px;
  opacity: 0.7;
}

.miyagi{
  height: 40px;
  width: 59px;
  border-radius: 3px;
  background: #6495ed;
  margin-top: 3px;
  position: relative;
  top: 186px;
  right: 396px;
}

.miyagi:hover{
  height: 40px;
  width: 59px;
  border-radius: 3px;
  opacity: 0.7;
}

.fukushima{
  height: 40px;
  width: 78px;
  border-radius: 3px;
  background: #6495ed;
  margin-top: 3px;
  position: relative;
  top: 228px;
  right: 478px;
}

.fukushima:hover{
  height: 40px;
  width: 78px;
  border-radius: 3px;
  opacity: 0.7;
}