a{
  display: inline-block;
  text-decoration: none ;
  color: black;
}

.container{
  text-align: center;
}
/*infoエリアをはじめは非表示*/
#info{
	display: none;
}

#info2{
	display: none;
}

#info3{
	display: none;
}

/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 600px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

/* ここから各都道府県別 */
.hokkaido{
  height: 100px;
  width: 140px;
  border-radius: 3px;
  background: #7b68ee;
}

.hokkaido:hover{
  height: 100px;
  width: 140px;
  border-radius: 3px;
  opacity: 0.7;
}

.aomori{
  height: 40px;
  width: 120px;
  border-radius: 3px;
  background: #6495ed;
  margin-top: 3px;
  position: relative;
  top: 102px;
  right: 144px;
}

.aomori:hover{
  height: 40px;
  width: 120px;
  border-radius: 3px;
  opacity: 0.7;
}

.akita{
  height: 40px;
  width: 60px;
  border-radius: 3px;
  background: #6495ed;
  margin-top: 3px;
  position: relative;
  top: 144px;
  right: 268px;
}

.akita:hover{
  height: 40px;
  width: 60px;
  border-radius: 3px;
  opacity: 0.7;
}

